
body{
font-family: Arial;
margin:0;
background:#f5f5f5;
text-align:center;
}

header{
background:#c62828;
color:white;
padding:20px;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.btn{
display:inline-block;
background:green;
color:white;
padding:10px 20px;
margin:15px;
text-decoration:none;
border-radius:5px;
}

section{
padding:20px;
}

footer{
background:#222;
color:white;
padding:10px;
}
